### DEFINITIONS FOR THE OSADL LICENSE COMPLIANCE AUDIT SCRIPT ###
[database]

## PostgreSQL connection information
postgresql_user     = osadl
postgresql_password = osadl
postgresql_db       = osadl

[audit]
## The 'scanlicense' attribute can be set to indicate whether or not
## files that were not found in the database should be scanned using
## ScanCode and FOSSology. This requires that ScanCode and FOSSology are
## installed
scanlicense = yes
#scanlicense = no

## The 'verbose' parameter is to let the script(s) be more verbose
## like this comment.
verbose = yes

### DEFINITIONS FOR THE DATABASE CREATION SCRIPT ###
[createdatabase]
#processors = 8
#unpackdirectory = /tmp
